<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <h2>Airports</h2>
  <a href="http://151.80.58.243/airports/dst"><button type="button">aeroport ne changeant pas d'heure en été</button></a>
   <a href="http://151.80.58.243/airports/tzone"><button type="button">aeroport ne changeant pas de fuseau horaire</button></a>
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %} 
  ...
</body>
</html>
