<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <a href="http://151.80.58.243:5000/airports">Airports</a>
  <a href="http://151.80.58.243:5000/airlines">Airlines</a>
  <a href="http://151.80.58.243:5000/flights">Flights</a>
  <a href="http://151.80.58.243:5000/planes">Planes</a>
  <a href="http://151.80.58.243:5000/weather">Weather</a>
</body>
</html>
